extends layout

block content

    main.game__screen

        h1 Shape Attack
        .score-shape
            img(src="")
            .distract-text 
        
        .scoreboard.group
            .player__names
            .player__scores
        
        .game-over
            .player
                
        script(src="/js/jquery-1.11.3.min.js")
        script(src="/socket.io/socket.io.js")
        script(src='/js/game.js')
