body {
	font-family: courier;
	-webkit-user-select: none;
	transition: all 0.35s;
}

h1 {
	font-size: 34px;
	margin-bottom: 20px;
}
.score-shape {
	margin-bottom: 30px;	
}
.game__screen {
	padding: 100px 0 0 0;
	text-align: center;
}
.scoreboard {
	margin: auto;
	max-width: 800px;
	background-color: #F3F1F1;
	padding: 50px;
}
.score,
.name {
	width: 100%;
}

.player__scores {
	width: 550px;
	float: left;
}

.player__names {
	width: 150px;
	float: left;
}
.name {
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

.score {
	height: 40px;
	margin-bottom: 10px;
	background-color: #555;
	width: 0;
}

/* Controller */
.red {
	background-color: #FF7163;
}
.blue {
	background-color: #4B97FB;
	
}
.green {
	background-color: #8BFAA8;
}
.yellow {
	background-color: #FBD667;
}

.player__controller {
	text-align: center;
}
.shape {
	text-align: center;
}
.shape img {
	width: 100px;
}

.distract-text {
	font-size: 28px;
}
.game-over {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #444;
	color: #fafafa;
	padding: 300px;
	display: none;
}

.game-over .player {
	text-align: center;
	font-size: 44px;
}
